@media (min-width: 769px) {


.box-headline {
    padding: 200px 252px 200px 252px;
    background-image: url(../images/background-photo.jpg), 
    linear-gradient(
    to right,
    #2F303A66,
    #2F303A66
    );
    background-repeat: no-repeat;
    background-size: 1600px;
    background-color: $color-main-headline-footer-background;
    max-height: 600px;
}

.headline {
    line-height: 1.36;
    max-width: 696px;
    margin: 0px auto;
    font-size: 44px;
}
}