@media (min-width: 769px) {
    .modal-window {
        width: 528px;
    }
    .ordering-form {
        &__name, &__phone, &__mail, &__comment {
            max-width: 448px;
        }
    }
    .ordering-form__terms-checkbox {
        visibility: hidden;
    }
    .ordering-form {
    &__icon {
        %--1st {
            top: 117px;
            left: 55px;
        }
        %--2nd {
            top: 177px;
            left: 55px;
        }
        %--3rd {
            top: 240px;
            left: 55px;
        }
    }
    }
}