@media (min-width: 481px) and (max-width: 768px) {
.employees {
    display: flex;
    flex-wrap: wrap;
    &__employee {
        flex-basis: calc((100%/2) - 3.9%);
        margin-left: 1.95%;
        margin-right: 1.95%;
    }
    &__employee-tile {
        min-width: 0px;
        margin-top: 0px; margin-bottom: 0px;
    }
    &__img-employee {
        min-width: 0px;
    }
    &__employee:nth-child(1), &__employee:nth-child(2) {
        margin-bottom: 30px;
    }
    &__employee:nth-child(4) {
        margin-top: 0px;
    }
}
}
