$color-active: #2196F3;
$text-main: #212121;
$text-secondary: #757575;
$text-main-headline: #FFFFFF;
$text-active-button: #FFFFFF;
$text-address: #FFFFFF;
$text-studio-footer: #FFFFFF;
$color-team-members-background: #FFFFFF;
$color-join-us: #FFFFFF;
$color-pic-description: #FFFFFF;
$color-card-popup-description: #FFFFFF;
$color-modal-window: #FFFFFF;
$color-main-headline-footer-background: #2F303A;
$text-footer-contact: rgba(255, 255, 255, 0.6);
$color-button-background: #F5F4FA;
$color-our-team-background: #F5F4FA;
$color-our-strengths-icon-background: #F5F4FA;
$text-studio-header: #000000;
$color-portfolio-border: #EEEEEE;
$color-header-border: #ECECEC;
$color-icon: #AFB1B8;
$color-social-icon-footer: #FFFFFF1A;
$color-backdrop: #00000033;
$color-form-borders: #21212133;
$color-text-placeholder: #75757580;
$color-form-icon: #212121;